PORT = Add your port number here
MONGO_URI = Add your MongoDB URI here
CORS_ORIGIN = your frontend URL here (e.g., http://localhost:3000)
ACCESS_TOKEN_SECRET = Add your access token secret here
REFRESH_TOKEN_SECRET = Add your refresh token secret here
ACCESS_TOKEN_EXPIRY = Add your access token expiry time here (e.g., 15m for 15 minutes)
REFRESH_TOKEN_EXPIRY = Add your refresh token expiry time here (e.g., 7d for 7 days)